.errors_form{
    color: red;
    font-weight:lighter;
}
.register_container{
    padding: 35px;
    border-radius: 25px;
    width: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    text-transform: uppercase;
}
@media screen and (max-width:1000px) {
    .register_container{
      width: 45%;
  }}
  @media screen and (max-width:700px) {
    .register_container{
      width: 65%;
  }}