.home {
       overflow-y: scroll;
  }
  .home::-webkit-scrollbar {
    display: none;
  }
  .footer_Div{
margin: 12px 12px 0px 12px !important
  }
  .carousel-inner{
    height: 370px;
  }
  .carousel-item, img{
    height: 100%;
    width:  100%;
  }
  .home_image{
    border-radius: 50%;
    margin-top: 25px;
    height: 350px;
    width: 300px;

  }