.cart {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 128px;
  }
  .cart .cartData {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cart .cartData img {
    width: 50px;
    height: 50px;
  }
  .cart .cartData p {
    width: 200px;
    font-weight: bold;

  }
  .cart .cartData .quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
  }
  .cart .cartData .quantity p {
    width: 50px;
    text-align: center;
  }
  .cart .cartData .quantity button {
    width: 50px;
  }
  .cart .total {
    text-align: right;
    border-top: 1px solid black;
  } 
  .fa{
    color: red;
  }
  .empty_cart{
text-align: center;
text-transform: uppercase;
padding: 29px;
border-radius: 40px;
  }


